<h2>Current Employees</h2>
<a href="/employee/showclients"><em>Show clients of stylists</em></a>
<ul>
  @foreach (var employee in Model["stylists"])
  {
  <li>@employee.GetName() <a href="/employee/update/@employee.GetId()">Edit</a> &nbsp; <a href="/employee/remove/@employee.GetId()">Remove</a>
    @if (Model.ContainsKey("showcustomers") == true) {
      <ul>
        <li>Customers:</li>
      @foreach (var client in Model["clients"]) {
        @if (client.GetStylistId() == employee.GetId())
        {
          <li>@client.GetName()</li>
        }
      }
      </ul>
    }
  </li>
  }
</ul>
<a href="/employee/add">Add New Employee</a>
<h2>Current Registered Customers</h2>
<ul>
  @foreach (var customer in Model["clients"])
  {
  <li>@customer.GetName() <a href="/customer/update/name/@customer.GetId()">Edit</a> | <a href="/customer/remove/@customer.GetId()">Remove</a> | <a href="/customer/update/stylist/@customer.GetId()">Switch Stylist</a></li>
  }
</ul>
<a href="/customer/add">Add New Customer</a>
<hr>
<a href="/all/delete">Delete everything. Close the business. Run away to Florida. Start a new salon with a better name. It'll be <em>different</em> this time.</a><strong>WARNING: <em>this can NOT be undone</em></strong>
