<h2>Current Employees<h2>
<ul>
  @foreach (var employee in Model["stylists"])
  {
  <li>@employee.GetName() <a href="/employee/update/@employee.GetId()">edit</a> &nbsp; <a href="/employee/remove/@employee.GetId()">Remove</a></li>
  }
</ul>
<a href="/employee/add">Add New Employee</a>
<h2>Current Registered Customers</h2>
<ul>
  @foreach (var customer in Model["clients"])
  {
  <li>@customer.GetName() <a href="/customer/update/@customer.GetId()">edit</a> &nbsp; <a href="/customer/remove/@customer.GetId()">Remove</a></li>
  }
</ul>
<a href="/customer/add">Add New Customer</a>
