<h3>Update @Model.GetName() name</h3>
<form action="/customer/update/name/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="customer-id" type="hidden" value="@Model.GetId()">
  <label for="newname">Customer's new name</label>
  <input name="newname" type="text">
  <button type="submit">Update</button>
</form>
<a href="/admin">Go back to admin panel</a>
